.navItem {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.nav {
    background-color: rgb(0, 0, 0);
}
.listItem{
    margin-right: 2rem;
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(255, 254, 254);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.listItem:hover, .listItem:focus {
    color: #1C7148;
    /* background-color:#1C7148; */
    border-radius: 7px;
}

.listItem:last-child {
    font-size: 1.5rem;
    margin-left: 3rem;
    position: relative;
}
.listItem:last-child span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
}


.lg_link {
    cursor: pointer;
}

@media (max-width: 960px) {
    .lg_img{
        width: 45px;
        height: 45px;
    }
    .navItem {
        padding: 2rem 0;
    }

    .listItem {
        font-size: 0.83rem;
    }

    .listItem:last-child {
        margin-left: 0;
    }
}